# Documentation: <https://github.wdf.sap.corp/pages/xmake-ci/User-Guide>
[xmake]
# xmake-version number is the latest number you can get from
#  - <https://int.repositories.cloud.sap/artifactory/deploy-milestones/com/sap/prd/xmake/release_notes/[RELEASE]/release_notes-[RELEASE].html#xMake>
xmake-version=1.12.273

[buildplugin]
bundle=true
publish_npm=true
install-arguments=--no-save,--no-package-lock
make-shrinkwrap=false
bundle=true
node-version=22.5.1

[env_all]
# See https://github.wdf.sap.corp/pages/xmake-ci/User-Guide/FAQ/#certificate-error-messages
NODE_EXTRA_CA_CERTS=${REQUESTS_CA_BUNDLE}

npm_config_better_sqlite3_binary_host_mirror=https://int.repositories.cloud.sap/artifactory/build-releases/com/sap/cds/better-sqlite3-binaries/{version}/better-sqlite3-binaries-{version}-bin.zip!
